.demo-tab-group {
    border: 1px solid #e8e8e8;
}

.demo-tab-content {
    padding: 16px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

mat-chip {
    max-width: 200px;
}

.demo-chip-list {
    width: 100%;
}

.favorite-food {
    max-width: 30%;
}