<button mat-button>Button 1</button>
<button color="primary" mat-raised-button>Primary</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="warn" mat-raised-button>Warn</button>
<button mat-fab>
    <i class="material-icons">euro_symbol</i>
</button>
<button mat-fab color="primary">
    <i class="material-icons">euro_symbol</i>
</button>


<div class="col-md-12">
  <!--CheckBox-->
  <div class="card card text-white bg-success mb-3 col-md-3">
    <div class="card-body">
      <h5 class="card-title">Checkbox</h5>
      <div>
        <mat-checkbox
                #showDetails
                name="pupa"
                [checked]="isChecked"
                (change)="onChange($event)"
                [value]="">
          Show Details
        </mat-checkbox>
        <div *ngIf="showDetails.checked">Some details ...</div>
      </div>
      <a href="https://material.angular.io/components/checkbox/overview"
         class="btn btn-primary" target="__blank">Info</a>
    </div>
  </div>


  <!--Select-->
  <div class="card border-success text-white bg-success mb-3 col-md-3">
    <div class="card-header">Select</div>
    <div class="card-body">
      <mat-select placeholder="Favorite food" [(ngModel)]="favoriteFood">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
      <a href="https://material.angular.io/components/select/overview"
         class="btn btn-primary" target="__blank">Info</a>
    </div>
  </div>


  <!--RadioButton-->
  <div class="card text-white bg-success mb-3  col-md-3">
    <div class="card-body">
      <h5 class="card-title">RadioButton</h5>
      <div>
        <div class="col-md-12">
          <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>

          <mat-radio-group class="example-radio-group" value="1">
            <mat-radio-button value="1">female</mat-radio-button>
            <mat-radio-button value="0">male</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <a href="https://material.angular.io/components/radio/overview"
         class="btn btn-primary" target="__blank">Info</a>
    </div>
  </div>


  <!--Input-->
  <div class="card text-white bg-success mb-3  col-md-5">
    <div class="card-body">
      <h5 class="card-title">Input</h5>
      <div>
        <div class="col-md-12">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput
                     placeholder="Username"
                     ngModel
                     name="username"
                     #username="ngModel"
                     value=""
                     required>
              <mat-hint>Type a unique username.</mat-hint>
              <span matPrefix>admin.</span>
              <span matSuffix>@domain.com</span>
              <mat-error *ngIf="username.invalid && username.errors.required">
                This field is required!
              </mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="col-md-12">
        <a href="https://material.angular.io/components/input/overview"
           class="btn btn-primary" target="__blank">Info</a>
      </div>
    </div>
  </div>

    <!--Text Areas-->
  <div class="card text-white bg-success mb-3  col-md-5">
    <div class="card-body">
      <h5 class="card-title">Text Area</h5>
      <div>
        <div class="col-md-12">
          <mat-form-field>
            <textarea matInput
                      placeholder="Autosize textarea"
                      matTextareaAutosize
                      matAutosizeMinRows="2"
                      matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12">
        <a href="https://material.angular.io/components/input/overview"
           class="btn btn-primary" target="__blank">Info</a>
      </div>
    </div>
  </div>

    <!--DatePicker-->
    <div class="card text-white bg-success mb-3  col-md-5">
        <div class="card-body">
            <h5 class="card-title">DatePicker</h5>
            <div>
                <div class="col-md-12">
                    <mat-form-field>
                        <input
                                matInput
                                [matDatepicker]="picker"
                                [min]="minDate"
                                [max]="maxDate"
                                (focus)="picker.open()"
                                placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12">
                <a href="https://material.angular.io/components/input/overview"
                   class="btn btn-primary" target="__blank">Info</a>
            </div>
        </div>
    </div>

</div>